<ng-container *ngIf="(valueList | async) as valueList; else loading">
    <ng-container *ngIf="valueList.length < 1; else indexar">
        <div class="row">
            <div class="col-3">
                <ngx-treeview [config]="config" [items]="itemsList2" (filterChange)="onFilterChange($event)"
                    (selectedChange)="onSelectedChange($event)">
                </ngx-treeview>
            </div>
            <div class="col-9">
                <div class="breadcrumb d-flex justify-content-between align-items-center">
                    <ol class="breadcrumb  mb-0 p-0">
                        <li class="breadcrumb-item text-primary"><a role="button" (click)="goHome()">Home</a></li>
                        <li class="breadcrumb-item text-primary"><a role="button" (click)="goList()">Folder List</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Images</li>
                    </ol>
                </div>
                <div class="bg-light">
                    <div class="row m-2">
                        <div class="col-12 ">
                            <h2 class="display-4">Images!</h2>
                            <p class="lead">This section shows all the images belonging to the selected folder...</p>
                            <p>
                                You must select a document type, to start indexing.</p>
                            <hr class="my-4">
                            <div style="text-align:center;margin:0; padding:0;">
                                <ng-image-slider #nav [images]="imageObject" [infinite]="true" [autoSlide]="1"
                                    [imageSize]="{width: '25%', height: 200}" slideImage="1"></ng-image-slider>
                            </div>
                        </div>
                    </div>
                    <hr class="mx-4">
                    <div class="row m-2">
                        <div class="col-3">
                            <form class="form" [formGroup]="addImagesForm">
                                <ng-container *ngIf="(documents$ | async) as documents">
                                    <select class="custom-select mr-sm-2" formControlName="document"
                                        id="inlineFormCustomSelect">
                                        <option selected disabled value="">Choose a Document...</option>
                                        <option [ngValue]="d.name" *ngFor="let d of documents">
                                            {{ d.nombre }}
                                        </option>
                                    </select>
                                </ng-container>
                                <button type="button" class="btn btn-primary btn-lg btn-block mt-3 mb-5"
                                    (click)="addImages()" [disabled]="!addImagesForm.valid">NEXT</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-template #indexar>
        <ng-container *ngIf="campos$ | async as campos; else loading">
            <ng-container *ngIf="campos.campos.length > 0; else advice">
                <div style="height: 90vh;">
                    <as-split direction="horizontal">
                        <as-split-area [size]="25" class="contenedor">
                            <div class="row">
                                <div class="col">
                                    <div class="custom-control custom-switch m-2">
                                        <input type="checkbox" class="custom-control-input" id="customSwitch1"
                                            [(ngModel)]="checkBoxValue" [ngModelOptions]="{ standalone: true }">
                                        <label class="custom-control-label" for="customSwitch1">Multiple Image</label>
                                    </div>
                                    <hr>
                                    <div class="m-2" *ngIf="checkBoxValue">
                                        <button (click)="nextImage()"
                                            class="btn btn-outline-primary btn-lg btn-block">Next Image</button>
                                    </div>
                                    <div class="shadow card bg-primary text-white text-center m-2">
                                        <h4> {{documento}}</h4>
                                        <small>
                                            <cite title="Source Title">*All fields are required</cite>
                                        </small>
                                    </div>
                                    <hr class="mx-5">
                                    <form #formcontrol="ngForm" class="needs-validation m-2" novalidate>
                                        <ng-container *ngFor="let data of campos.campos">
                                            <div class="form-row" *ngIf="data.estado == true ">
                                                <ng-container [ngSwitch]="data.tipo">
                                                    <div dragula="DRAGULA_FACTS" class="w-100">
                                                        <ng-container *ngSwitchCase="'numerico'">
                                                            <div class="col mb-3" style="cursor: pointer;">
                                                                <label for="apellidos">{{data.nombre}}</label>
                                                                <input type="number"
                                                                    class="form-control text-uppercase field-focus"
                                                                    name="{{data.id}}" [(ngModel)]="newObject[data.id]"
                                                                    (keyup.enter)="keytab($event)" autofocus required />
                                                            </div>
                                                        </ng-container>
                                                        <ng-container *ngSwitchCase="'fecha'">
                                                            <div class="col mb-3" style="cursor: pointer;">
                                                                <label for="apellidos">{{data.nombre}}</label>
                                                                <input type="date" placeholder="dd/mm/yyyy"
                                                                    class="form-control text-uppercase field-focus"
                                                                    name="{{data.id}}" [(ngModel)]="newObject[data.id]"
                                                                    (keyup.enter)="keytab($event)" autofocus required />
                                                            </div>
                                                        </ng-container>
                                                        <ng-container *ngSwitchDefault>
                                                            <div class="col mb-3" style="cursor: pointer;">
                                                                <label for="apellidos">{{data.nombre}}</label>
                                                                <input type="text"
                                                                    class="form-control text-uppercase field-focus"
                                                                    oninput="this.value = this.value.toUpperCase()"
                                                                    name="{{data.id}}" [(ngModel)]="newObject[data.id]"
                                                                    (keyup.enter)="keytab($event)" autofocus required />
                                                            </div>
                                                        </ng-container>
                                                    </div>
                                                </ng-container>
                                            </div>
                                        </ng-container>
                                        <button (click)="add(newObject)" class="btn btn-primary btn-lg btn-block"
                                            [disabled]="!formcontrol.form.valid">Save</button>
                                    </form>
                                    <div class="text-primary text-center mt-0">
                                        <small>
                                            <cite title="Source Title">*All fields are required</cite>
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </as-split-area>
                        <as-split-area [size]="75">
                            <ng-container>
                                <div class="m-1">
                                    <div class="breadcrumb d-flex justify-content-between align-items-center">
                                        <ol class="breadcrumb  mb-0 p-0">
                                            <li class="breadcrumb-item text-primary"><a role="button"
                                                    (click)="goHome()">Home</a></li>
                                            <li class="breadcrumb-item text-primary"><a role="button"
                                                    (click)="goList()">Folder List</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">Images</li>
                                        </ol>
                                    </div>
                                    <ng-container *ngIf="image; else loading" >
                                        <app-image-viewer class="watermark" [images]="[image]" [loadOnInit]="true"
                                        [idContainer]="'idOnHTML'" [showOptions]="true"></app-image-viewer>
                                    </ng-container>
                                </div>
                            </ng-container>
                        </as-split-area>
                    </as-split>
                </div>
            </ng-container>
        </ng-container>
    </ng-template>
</ng-container>
<ng-template #loading>
    <div class="d-flex justify-content-center mt-5">
        <div class="spinner-border text-primary" role="status"></div>
        <strong class="text-primary"> Loading... </strong>
    </div>
</ng-template>
<ng-template #mensaje2>
    <div class="col-md-12">
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
            <strong>Message!</strong> There are no images for indexing.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</ng-template>
<ng-template #advice>
    <div class="col-md-12">
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
            <strong>Message!</strong> You need to create a template for this document.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</ng-template>