<nav aria-label="breadcrumb" class="mt-2">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/']"> Sindex</a></li>
        <li class="breadcrumb-item active" aria-current="page">Registrar</li>
    </ol>
</nav>

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="shadow card">
                <div class="card-body">
                    <h5 class="card-title">Registro de usuarios</h5>
                    <hr />
                    <form [formGroup]="accountForm"> 
                        <div class="form-group">
                            <label for="exampleDropdownFormEmail3">Nickname</label>
                            <input type="text" class="form-control" id="exampleDropdownFormEmail3" formControlName="displayName" placeholder="Nickname" required>
                          </div>
                        <div class="form-group">
                            <label for="exampleDropdownFormEmail2">Correo Electrónico</label>
                            <input type="email" class="form-control" id="exampleDropdownFormEmail2" formControlName="email" placeholder="email@example.com" required>
                          </div>
                          <div class="form-group">
                            <label for="exampleDropdownFormPassword2">Contraseña</label>
                            <input type="password" class="form-control" id="exampleDropdownFormPassword2" formControlName="password" placeholder="Contraseña" required>
                          </div>
                          <div class="form-group">
                            <label for="proyecto">Proyecto(código)</label>
                            <input type="password" class="form-control" id="proyecto" formControlName="proyecto" placeholder="Proyecto" required>
                          </div>
                          <div class="form-group">
                            <label for="sede">Sede(código)</label>
                            <input type="password" class="form-control" id="sede" formControlName="sede" placeholder="Sede" required>
                          </div>
                        <hr>
                        <button type="button" class="btn btn-primary" [disabled]="!accountForm.valid" (click)="onRegister()">
                            Registrar
                        </button><br>
                        <small class="text-danger" *ngIf="validarCodigos" >
                          Los datos ingresados no son válidos!!
                        </small>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>